/* Sessão inicial tela de landing page da Funnelever */
.inicio{
    height: 100vh;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: linear-gradient(90deg, #0788E5 0%, #9210c9 100%);
    margin: 0px;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont, "Segoe UI",Roboto,"Helvetica Neue", Arial,sans-serif,"Apple Color Emoji", "Segoe UI Emoji","Segoe UI Symbol"; 
}

.boxBtnLogin{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
}

.BtnLogin{
    max-width: 300px;
    font-size: 13px;
    color: #fff;
    padding: 13px;
    margin: 10px;
    font-weight: 900;
    text-transform: uppercase;
    background-color:transparent;
    border-radius: 2px;
    border:2px solid #fff;
    cursor: pointer;
}

.BtnDemo{
    max-width: 300px;
    font-size: 13px;
    color: #fff;
    padding: 15px;
    margin: 10px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: rgb(0, 215, 215);
    border-radius: 2px;
    border:none;
    cursor: pointer;
}

.logoInicio{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: transparent;
}

.inicioContent{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inicioBox{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inicioBox h2{
    font-size: 2rem;
    color: #fff;
    padding: 10px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: -apple-system,BlinkMacSystemFont, "Segoe UI",Roboto,"Helvetica Neue", Arial,sans-serif,"Apple Color Emoji", "Segoe UI Emoji","Segoe UI Symbol"; 
}

.inicioBox input{
    width: 100%;
    max-width: 450px;
    color: #fff;
    padding: 15px;
    margin: 25px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
}

.inicioBox input::placeholder{
    color: #fff;
}

.inicioBox button{
    font-size: 1rem;
    color: #fff;
    padding: 15px;
    margin: 18px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: rgb(0, 215, 215);
    border-radius: 2px;
    border:none;
    cursor: pointer;
}

.inicioBoxRedes{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inicioBoxRedes a{
    font-size: 13px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    font-family:-apple-system,BlinkMacSystemFont, "Segoe UI",Roboto,"Helvetica Neue", Arial,sans-serif,"Apple Color Emoji", "Segoe UI Emoji","Segoe UI Symbol";  
}

/* Sessão de Clientes e Parceiros */

.inicioSessao2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    margin-bottom: 60px;
}

.inicioSessao2 h2{
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    color: #000;
    font-weight: 700;
    text-align: center;
    padding: 10px 0px 20px 0px;
}

.inicioSessaoBoxParceiros{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 40px 0px 40px 0px;
    padding-bottom: 40px;
}

/* Sessão de Planos */

.inicioSessao3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/pricing-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: linear-gradient(90deg, #0788E5 0%, #9210c9 100%);
    padding-bottom: 50px;
}

.inicioSessao3 h2{
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding: 10px 0px 10px 0px;
    text-transform: uppercase;
}

.inicioSessao3 h3{
    width: 100%;
    height: 100%;
    font-size: 0.9rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.inicioSessao3Box{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 20px 0px 20px 0px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.inicioSessaoBoxPlanos{
    width: 100%;
    max-width: 380px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #fff;
}

.boxPlanos{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

.boxPlanos h2{
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    color: #000;
    font-weight: 700;
    text-align: center;
    padding: 10px 0px 10px 0px;
    text-transform: uppercase;
}

.boxPlanosTitulos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boxPlanosTitulos h3{
    width: 80%;
    height: 100%;
    font-size: 0.9rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #00bcd4;
}

.boxPlanosTitulos span{
    width: 80%;
    height: 100%;
    font-size: 1.8rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.boxPlanosTitulos h4{
    width: 80%;
    height: 100%;
    font-size: 0.9rem;
    color: #6a6a6a;
    font-weight: 500;
    text-align: center;
}

.boxPlanosDescricao li{
    width: 100%;
    height: 100%;
    font-size: 1rem;
    color: #6a6a6a;
    font-weight: 500;
    text-align: left;
    padding-top: 15px;
}

.boxPlanosBtn{
    width: 50%;
    padding-top: 35px;
    display: flex;
    align-items: center;
}

.boxPlanosBtn button{
    width: 100%;
    max-width: 200px;
    position: absolute;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    text-align: center;
    padding: 20px;
    background-color: #00bcd4;
    border: none;
    cursor: pointer;
}

.boxPlanosBtn button:hover{
    background-color: #0395a9;
}

.boxPlanosBtn2 button{
    width: 100%;
    max-width: 200px;
    position: absolute;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    text-align: center;
    padding: 20px;
    /* background: linear-gradient(145deg, rgba(114,2,187,1) 0%, rgba(50,100,245,1) 100%); */
    border: none;
    cursor: pointer;
}

.boxPlanosBtn2 button:hover{
    background: linear-gradient(145deg, rgba(50,100,245,1) 0%,  rgba(114,2,187,1) 100%);
}

/* Sessão de Ajuda sua empresa */

.inicioSessao4{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    margin-top: 70px;
    margin-bottom: 70px;
}

.inicioSessao4 h5{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    color: #000;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.inicioSessaoBoxEmpresas{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #fff;
}

.cardEmpresas{
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    margin: 10px;
    padding: 10px;
}

.cardEmpresasRow{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.cardEmpresasBody{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    font-size: 14px;
    color: #6a6a6a;
    padding: 15px;
}

.cardEmpresasBody h3{
    color: #000;
}

.cardEmpresasBody p{
    padding: 0px;
    margin: 0px;
}

/* Footer do landing page */

.footerBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/footer-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: linear-gradient(90deg, #0788E5 0%, #9210c9 100%);
    padding-bottom: 20px;
}

.footerContent{
    width: 100%;
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    margin: 20px;
    color: #fff;
    font-size: 14px;
}

.footerContentSobre{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px;
    margin-top: 0;
}

.footerContentPlanos{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
}

.footerContentPlanos a{
    color: #fff;
    text-decoration: none;
}

.footerContentApoio{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
}

.footerContentApoio a{
    color: #fff;
    text-decoration: none;
}

.footerContentJuridico{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
}

.footerContentJuridico a{
    color: #fff;
    text-decoration: none;
}

.footerBox h5{
    width: 80%;
    padding: 8px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    font-family:-apple-system,BlinkMacSystemFont, "Segoe UI",Roboto,"Helvetica Neue", Arial,sans-serif,"Apple Color Emoji", "Segoe UI Emoji","Segoe UI Symbol";  
    padding-top: 20px;
    border-top: 1px solid #fff;
}

/* Sessão da dashboard Home */

.contentCardHome{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contentCards{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cardHomePrincipal{
    width: 100%;
    margin: 10px;
    text-align: center;
}

.CardBodyPrincipal{
    font-size: 18px;
    line-height: 35px;
    color: #fff;
    padding: 10px;
    background: linear-gradient(90deg, #33B5FE 0%, #0788E5 100%);
}

.cardsHome{
    width: 100%;
    max-width: 400px;
    margin: 10px;
    text-align: center;
}

/* Sessão da dashboard Cofre */

.cofreHome{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.cofreCardsContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxCards{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.cardsCofre{
    width: 100%;
    max-width: 400px;
    margin: 10px;
    text-align: center;
}