/* Pg de Cadastro */

.formImage {
    width: 50%;
    background-image: url(../images/undraw_shopping_re_3wst.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;
}

@media screen and (max-width: 1330px) {
    .formImage  {
        display: none;
    }
}

