/* Sessão da dashboard Plataforma */

.contentCardPlataforma{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contentCards{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cardPlataformaPrincipal{
    width: 100%;
    margin: 10px;
    text-align: center;
}

.CardBodyPrincipal{
    font-size: 18px;
    line-height: 35px;
    color: #fff;
    padding: 10px;
    background: linear-gradient(90deg, #33B5FE 0%, #0788E5 100%);
}

.cardsPlataforma{
    width: 100%;
    max-width: 400px;
    margin: 10px;
    text-align: center;
}

/* Sessão da dashboard Cofre */

.cofreHome{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.cofreCardsContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxCards{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.cardsCofre{
    width: 100%;
    max-width: 400px;
    margin: 10px;
    text-align: center;
}